.main_container{
    margin-top: 350px;
    color: #332e29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_container h2{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 30px;
    text-align: center;
}
.cards_container{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1550px){
    .main_container{
        margin-top: 280px;
    }
    .main_container h2{
        font-size: 45px;
        letter-spacing: 1px;
    }
}
@media (max-width: 905px) { 
    .main_container{
        margin-top: 400px;
    }
    .main_container h2{
        font-size: 35px;
        margin: 20px 5%;
    }
 }